body {
    margin: 0;
    height: 100vh;
    background-color: cyan;

}
span {
    background : url("https://cdn1.iconfinder.com/data/icons/christmas-flat-4/58/010_-_Heart-128.png") ;
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover ;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    animation: animate 10s linear;

}

@keyframes animate{
    0%{
        transform: translate(-50%,-50%);
        opacity: 1;
    }
    100%{
        transform: translate(-50%,-500%);
        opacity: 0;
        filter: hue-rotate(700deg);
    }
}